<p>
  <strong><%= Report.human_attribute_name(:mentioned_reports) %>:</strong>
  <% if @mentioned_reports.exists? %>
    <ul>
      <% @mentioned_reports.each do |mention| %>
        <li><%= link_to mention.title, report_path(mention.id) %></li>
      <% end %>
    </ul>
  <% else %>
    (<%= t('.no_mentions') %>)
  <% end %>
</p>
