<h1><%= I18n.t('edit.editing_book') %></h1>

<%= render "form", book: @book %>

<br>

<div>
  <%= link_to I18n.t('attributes.show_this_book'), @book %> |
  <%= link_to I18n.t('attributes.back_to_books'), books_path %>
</div>
