<h1><%= t('.heading', model: @book_model) %></h1>

<%= render "form", book: @book %>

<br>

<nav class="page-nav">
  <%= link_to t('common.back_to_books', model: @book_model_plural), books_path %>
</nav>
