<div id="<%= dom_id report %>">
  <p>
    <strong>Title:</strong>
    <%= report.title %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= report.content %>
  </p>

  <p>
    <strong>Timestamp:</strong>
    <%= report.created_at.to_s(:datetime_jp) %>
  </p>

</div>
